---
title: Welcome
layout: default.hbs
uncontained: true
head:
 - <link rel="stylesheet" type="text/css" href="./theme/index.css">
---
<div id='map'></div>
<div class='container'>
  <blockquote id='tagline' class='text-end plain'>
    <p>A high-performance, feature-packed library for all your mapping needs.</p>
  </blockquote>
  <div class='row' id='news'>
    <div class='col-sm-12'>
      <h1 class='topic'><i class='fa fa-rss'></i> Latest</h1>
      <p><strong>OL STAC <a href="/download/">{{ version }}</a> is here!</strong> Check out the <a href="/doc/">docs</a> and the <a href="/en/latest/examples/">examples</a> to get started. The full distribution can be downloaded from the <a href="/download/">release page</a>.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Overview</h1>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>OpenLayers makes it easy to put a dynamic map in any web page. It can display map tiles, vector data and markers loaded from any source. OpenLayers has been developed to further the use of geographic information of all kinds. It is completely free, Open Source JavaScript, released under the 2-clause BSD License (also known as the FreeBSD).</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Features</h1>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <h3>Tiled Layers</h3>
      <p>Pull tiles from OSM, Bing, MapBox, Stadia Maps, and any other XYZ source you can find.  OGC mapping services and untiled layers also supported.</p>
    </div>
    <div class='col-sm-6'>
      <h3>Vector Layers</h3>
      <p>Render vector data from GeoJSON, TopoJSON, KML, GML, Mapbox vector tiles, and other formats.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <h3>Cutting Edge, Fast &amp; Mobile Ready</h3>
      <p>Leverages Canvas 2D, WebGL, and all the latest greatness from HTML5.  Mobile support out of the box.  Build lightweight custom profiles with just the components you need.</p>
    </div>
    <div class='col-sm-6'>
      <h3>Easy to Customize and Extend</h3>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Learn More</h1>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/doc/quickstart.html'>
        <h3><i class='fa fa-check'></i> Quick Start</h3>
      </a>
      <p>Seen enough already? Go here to get started.</p>
    </div>
    <div class='col-sm-6'>
      <a href='/download/'>
        <h3><i class='fa fa-download'></i> Get the Code</h3>
      </a>
      <p>Get the latest release or dig through the archives.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/doc/tutorials/'>
        <h3><i class='fa fa-book'></i> Tutorials</h3>
      </a>
      <p>Spend time learning the basics and graduate up to advanced mapping techniques.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/en/latest/apidoc/'>
        <h3><i class='fa fa-sitemap'></i> API Docs</h3>
      </a>
      <p>Browse through the API docs for details on code usage.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Get Involved</h1>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <a href='https://github.com/m-mohr/ol-stac'>
        <h3><i class="fa fa-code-fork"></i> Fork the repo</h3>
      </a>
    </div>
    <div class='col-sm-4'>
      <a href='https://github.com/m-mohr/ol-stac/issues'>
        <h3><i class="fa fa-bug"></i> Open a ticket</h3>
      </a>
    </div>
  </div>
</div>
<script src="./main.js"></script>
