---
title: Welcome
layout: default.hbs
uncontained: true
head:
 - <link rel="stylesheet" type="text/css" href="/ol-stac/theme/index.css">
---
<div class='container'>
  <div class='row' id='news'>
    <div class='col-sm-12'>
      <h1 class='topic'><i class='fa fa-rss'></i> Latest</h1>
      <p><strong>OL STAC <a href="/ol-stac/download/">{{ version }}</a> is here!</strong> Check out the <a href="/ol-stac/doc/">docs</a> and the <a href="/ol-stac/en/latest/examples/">examples</a> to get started. The full distribution can be downloaded from the <a href="/ol-stac/download/">release page</a>.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Overview</h1>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>OL STAC makes it easy to put STAC resources on a dynamic OpenLayers map. It can display geometries, GeoTIFF files, web map layers and more. It is completely free, Open Source JavaScript, released under the Apache 2.0 license.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Learn More</h1>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='./doc/quickstart.html'>
        <h3><i class='fa fa-check'></i> Quick Start</h3>
      </a>
      <p>Seen enough already? Go here to get started.</p>
    </div>
    <div class='col-sm-6'>
      <a href='/ol-stac/download/'>
        <h3><i class='fa fa-download'></i> Get the Code</h3>
      </a>
      <p>Get the latest release or dig through the archives.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/ol-stac/doc/tutorials/'>
        <h3><i class='fa fa-book'></i> Tutorials</h3>
      </a>
      <p>Spend time learning the basics and graduate up to advanced mapping techniques.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/ol-stac/en/latest/apidoc/'>
        <h3><i class='fa fa-sitemap'></i> API Docs</h3>
      </a>
      <p>Browse through the API docs for details on code usage.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Get Involved</h1>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <a href='https://github.com/m-mohr/ol-stac'>
        <h3><i class="fa fa-code-fork"></i> Fork the repo</h3>
      </a>
    </div>
    <div class='col-sm-4'>
      <a href='https://github.com/m-mohr/ol-stac/issues'>
        <h3><i class="fa fa-bug"></i> Open a ticket</h3>
      </a>
    </div>
  </div>
</div>
