---
title: Welcome
layout: default.hbs
uncontained: true
head:
 - <link rel="stylesheet" type="text/css" href="/theme/index.css">
---
<div class='container'>
  <div class='row' id='news'>
    <div class='col-sm-12'>
      <h1 class='topic'><i class='fa fa-rss'></i> Latest</h1>
      <p><strong>OL STAC <a href="/download/">{{ version }}</a> is here!</strong> Check out the <a href="/doc/">docs</a> and the <a href="/en/latest/examples/">examples</a> to get started. The full distribution can be downloaded from the <a href="/download/">release page</a>.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Overview</h1>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>OL STAC makes it easy to put STAC resources on a dynamic OpenLayers map. It can display geometries, GeoTIFF files, web map layers and more in an "automagical" way. It is completely free, Open Source JavaScript, released under the Apache 2.0 license.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Learn More</h1>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='./doc/quickstart.html'>
        <h5><i class='fa fa-check'></i> Quick Start</h5>
      </a>
      <p>Seen enough already? Go here to get started.</p>
    </div>
    <div class='col-sm-6'>
      <a href='/doc/tutorials/'>
        <h5><i class='fa fa-book'></i> Tutorials</h5>
      </a>
      <p>Spend time learning the basics and graduate up to advanced mapping techniques.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <a href='/en/latest/examples/'>
        <h5><i class='fa fa-map'></i> Examples</h5>
      </a>
      <p>Browse through the examples to get an impression of what is possible.</p>
    </div>
    <div class='col-sm-6'>
      <a href='/en/latest/apidoc/'>
        <h5><i class='fa fa-code'></i> API Docs</h5>
      </a>
      <p>Read through the API docs for details on code usage.</p>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Get Involved</h1>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <a href='https://github.com/moregeo-it/ol-stac'>
        <h5><i class="fa fa-code-fork"></i> Fork the repo</h5>
      </a>
    </div>
    <div class='col-sm-4'>
      <a href='https://github.com/moregeo-it/ol-stac/issues'>
        <h5><i class="fa fa-bug"></i> Open a ticket</h5>
      </a>
    </div>
  </div>
  <div class='row'>
    <h1 class='topic col-sm-12'>Support</h1>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <a href='https://moregeo.it'>
        <h5><i class="fa fa-money-bill"></i> Funding</h5>
      </a>
      <p>
        The development of this package was financially supported by:
      </p>
      <ul>
        <li><a href="https://planet.com">Planet Labs PBC</a></li>
        <li><a href="https://eox.at">EOX IT Services GmbH</a></li>
      </ul>
      <p>Many thanks also to OpenLayers and its contributors.</p>
      <p><a href='https://moregeo.it'>If you need any help, please contact me.</a></p>
    </div>
    <div class='col-sm-4'>
      <a href='https://github.com/moregeo-it/ol-stac/pulls'>
        <h5><i class="fa fa-sitemap"></i> Create a PR</h5>
      </a>
      <p>We are always happy to receive and review pull requests to improve this library even further.</p>
    </div>
  </div>
</div>
